.app-nav {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  translate: -50%;
  background: $clr1;
  border-radius: 0.8rem;
  grid-auto-flow: column;
  padding: 0.5rem 1rem;
  gap: 1rem;
  box-shadow: $bs;
  .icon {
    &.selected {
      i {
        color: $clr4;
      }
    }
  }

  .search {
    grid-auto-flow: column;
    grid-template-columns: 1fr 10%;
    align-items: center;
    box-shadow: $bs;
    position: fixed;
    top: -4rem;
    left: 50%;
    width: 80vw;
    translate: -50%;
    border-radius: 0.2rem;
    background: inherit;
    gap: 5px;

    button {
      display: grid;
      place-items: center;
      border: none;
      background: inherit;
      cursor: pointer;
      i {
        color: $clr4;
      }
      &.dirty {
        i {
          color: #54f454;
        }
      }
    }
    input[type='search'] {
      border: none;
      padding: 1rem;
      font-size: 1rem;
      border-radius: inherit;
    }
  }
}
