.shelf-preview {
  position: relative;
  box-shadow: 0 0 1px 1px $clr4;
  padding: 0.5rem;
  border-radius: 0.8rem;
  position: relative;
  padding: 1rem;
  img {
    border-radius: 0.8rem;
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
  }
}
