.app-feed {
  height: 100%;
  place-items: center;
  .loading-logo {
    width: 100%;
    height: 100%;
    background: lightblue;
    background: $clr1;
    place-content: center;

    img {
      aspect-ratio: 1/1;
      height: 200px;
      width: 200px;
      object-fit: cover;
    }
  }
}
