.post-details {
  border: none;
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.67);
  }
  border-radius: $br;
  padding: 1em 0;

  .close-btn {
    @include close-modal-btn;
  }

  // scroll bar
  &::-webkit-scrollbar {
    width: 0.2em;
    display: none;

    overflow-y: hidden;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(126, 126, 126, 0.617);
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(52, 52, 52);
    border-top-right-radius: $br;
    border-bottom-right-radius: $br;
  }
}
