.user-area {
  &.grid {
    grid-template-rows: min-content 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'dashboard'
      'post-list';

    header {
      grid-template-columns: min-content 1fr;
      margin-top: 1em;
      grid-area: header;
      padding-bottom: 1em;
      align-content: center;
      p {
        margin: 0;
      }
      .user-info-container {
        padding-top: 1rem;
        grid-area: 2/1/2/3;
      }
      .user-settings-container {
        margin-inline-start: 1em;
        row-gap: 0.8em;
        grid-template-columns: min-content minmax(min-content, 30%);
        place-content: inherit;
        align-content: end;
        display: grid;
        i {
          margin-inline-start: 0.5em;
        }
        p {
          font-size: 20px;
        }
        .edit-profile {
          grid-area: 2/1/2/3;
          padding: 0.5em 1rem;
          border-radius: 0.6em;
          background: $clr4;
          border: none;
          font-weight: bolder;
          &:hover {
            background: darken($color: $clr4, $amount: 10);
          }
        }
      }
    }

    .dashboard-container {
      // background: lightgreen;
      grid-area: dashboard;
      height: 4rem;
      //
    }
    .router-container {
      grid-area: post-list;
      grid-auto-flow: column;

      justify-items: center;
      border-top: 1px solid $clr4;
      a {
        padding: 0.5rem 0 0.3rem 0;
        width: 100%;
        text-align: center;

        &.router-link-exact-active {
          box-shadow: inset 0px 1px 0 darken($color: $clr4, $amount: 50%);
          svg {
            color: $clr6;
          }
        }
      }
    }
  }
}
